body{
    background-color: wheat;
}
h1{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    text-align: center;

}
nav{
    align-items: baseline;
}